# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [73]:
# import numpy and pandas
import pandas as pd
import numpy as np
from pandas import RangeIndex

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset.

In [74]:
# Run this code:

admissions = pd.read_csv('../Admission_Predict.csv')
#to remove trailing spaces at the end of the column names
admissions.columns = admissions.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [75]:
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [76]:
# Your code here:
admissions.index

RangeIndex(start=0, stop=385, step=1)

In [77]:
admissions.isna().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [78]:
admissions.index = admissions['Serial No.']
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [79]:
(admissions['GRE Score'] + admissions['CGPA']).value_counts()

311.50    2
332.10    2
335.40    2
330.45    2
329.20    2
308.88    1
321.64    1
325.76    1
321.65    1
313.48    1
306.89    1
339.45    1
309.22    1
320.12    1
327.33    1
330.13    1
305.46    1
333.67    1
322.30    1
321.69    1
328.62    1
302.20    1
330.84    1
348.76    1
338.01    1
326.65    1
309.47    1
341.10    1
305.50    1
337.16    1
         ..
324.73    1
331.78    1
337.14    1
335.05    1
328.56    1
297.46    1
314.45    1
347.40    1
322.89    1
328.04    1
319.12    1
336.14    1
308.01    1
324.32    1
309.25    1
339.24    1
304.03    1
303.54    1
303.80    1
345.76    1
319.64    1
330.97    1
330.46    1
341.24    1
345.53    1
327.67    1
326.67    1
346.65    1
331.60    1
324.00    1
Length: 380, dtype: int64

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [80]:
# Your code here:
admissions.set_index(['GRE Score', 'CGPA'], inplace=True)
admissions.head()

,,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,,
337,9.65,1,118,4,4.5,4.5,1,0.92
316,8.00,2,104,3,3.0,3.5,1,0.72
322,8.67,3,110,3,3.5,2.5,1,0.80
314,8.21,4,103,2,2.0,3.0,0,0.65
330,9.34,5,115,5,4.5,3.0,1,0.90

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [86]:
admissions.reset_index(inplace=True)

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [124]:
admissions.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,1,118,4,4.5,4.5,1,0.92
1,316,8.00,2,104,3,3.0,3.5,1,0.72
2,322,8.67,3,110,3,3.5,2.5,1,0.80
3,314,8.21,4,103,2,2.0,3.0,0,0.65
4,330,9.34,5,115,5,4.5,3.0,1,0.90

In [125]:
# Your code here:
admissions.get(admissions.CGPA > 9 )

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,1,118,4,4.5,4.5,1,0.92
4,330,9.34,5,115,5,4.5,3.0,1,0.90
10,328,9.10,11,112,4,4.0,4.5,1,0.78
19,328,9.50,20,116,5,5.0,5.0,1,0.94
20,334,9.70,21,119,5,5.0,4.5,1,0.95
21,336,9.80,22,119,5,4.0,3.5,1,0.97
28,338,9.40,29,118,4,3.0,4.5,1,0.91
29,340,9.60,30,114,5,4.0,4.0,1,0.90
30,331,9.80,31,112,5,4.0,5.0,1,0.94
31,320,9.20,32,110,5,5.0,5.0,1,0.88
39,332,9.10,40,117,4,4.5,4.0,0,0.87
40,326,9.40,41,113,5,4.5,4.0,1,0.91
41,322,9.10,42,110,5,5.0,4.0,1,0.88
42,329,9.30,43,114,5,4.0,5.0,1,0.86
43,339,9.70,44,119,5,4.5,4.0,0,0.89
62,327,9.02,63,114,3,3.0,3.0,0,0.61
64,318,9.22,65,109,3,3.5,4.0,1,0.68
65,328,9.16,66,115,4,4.5,4.0,1,0.78
66,332,9.64,67,118,5,5.0,5.0,1,0.94
67,336,9.76,68,112,5,5.0,5.0,1,0.96
68,321,9.45,69,111,5,5.0,5.0,1,0.93
69,314,9.04,70,108,4,4.5,4.0,1,0.84
77,340,9.50,78,120,4,5.0,5.0,1,0.96
78,320,9.22,79,110,5,5.0,4.5,1,0.92
79,322,9.36,80,115,5,4.0,4.5,1,0.92
80,340,9.45,81,115,5,4.5,4.5,1,0.94
93,332,9.24,94,119,4,5.0,4.5,1,0.90
99,326,9.05,100,112,3,3.5,3.0,1,0.74
101,329,9.18,102,111,4,4.5,4.5,1,0.87
102,338,9.46,103,117,4,3.5,4.5,1,0.91
...,...,...,...,...,...,...,...,...,...
246,331,9.34,247,119,4,5.0,4.5,1,0.90
247,327,9.13,248,108,5,5.0,3.5,1,0.87
255,327,9.14,256,113,4,4.5,5.0,0,0.83
263,329,9.45,264,113,5,5.0,4.5,1,0.89
268,317,9.11,269,110,3,4.0,4.5,1,0.80
271,340,9.66,272,112,4,5.0,4.5,1,0.94
272,331,9.26,273,116,5,4.0,4.0,1,0.93
273,336,9.19,274,118,5,4.5,4.0,1,0.92
274,324,9.08,275,114,5,5.0,4.5,1,0.89
275,314,9.02,276,104,4,5.0,5.0,0,0.82
284,320,9.11,285,120,3,4.0,4.5,0,0.86
285,330,9.24,286,114,3,4.5,4.5,1,0.90
293,323,9.10,294,110,3,4.0,3.5,1,0.79
298,328,9.18,299,108,4,4.5,4.0,1,0.84
311,326,9.14,312,116,3,3.5,4.0,1,0.81
322,332,9.47,323,118,5,5.0,5.0,1,0.94
346,334,9.54,347,116,4,4.0,3.5,1,0.93
347,338,9.23,348,115,5,4.5,5.0,1,0.91
350,330,9.17,351,114,4,4.5,3.0,1,0.86
356,324,9.22,357,110,3,3.5,3.0,1,0.89
357,336,9.62,358,119,4,4.5,4.0,1,0.95
367,324,9.15,368,110,4,4.5,4.0,1,0.82
369,340,9.74,370,113,4,5.0,5.0,1,0.96
370,335,9.82,371,117,5,5.0,5.0,1,0.96
377,326,9.12,378,112,4,4.0,3.5,1,0.84
379,329,9.23,380,111,4,4.5,4.0,1,0.89
380,324,9.04,381,110,3,3.5,3.5,1,0.82
381,325,9.11,382,107,3,3.0,3.5,1,0.84
382,330,9.45,383,116,4,5.0,4.5,1,0.91
384,333,9.66,385,117,4,5.0,4.0,1,0.95

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [126]:
admissions.get(admissions.SOP < 3.5, admissions.CGPA > 9)

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
1,316,8.00,2,104,3,3.0,3.5,1,0.72
3,314,8.21,4,103,2,2.0,3.0,0,0.65
5,321,8.20,6,109,3,3.0,4.0,1,0.75
6,308,7.90,7,101,2,3.0,4.0,0,0.68
7,302,8.00,8,102,1,2.0,1.5,0,0.50
18,325,8.40,19,114,4,3.0,2.0,0,0.70
23,298,7.50,24,98,2,1.5,2.5,1,0.44
24,295,7.20,25,93,1,2.0,2.0,0,0.46
25,310,7.30,26,99,2,1.5,2.0,0,0.54
26,300,8.10,27,97,2,3.0,3.0,1,0.65
28,338,9.40,29,118,4,3.0,4.5,1,0.91
33,300,7.80,34,105,1,1.0,2.0,0,0.58
34,304,7.50,35,105,1,3.0,1.5,0,0.52
37,316,8.20,38,105,2,2.5,2.5,1,0.49
38,313,8.50,39,107,2,2.5,2.0,1,0.53
45,327,8.40,46,111,4,3.0,4.0,1,0.78
46,313,8.30,47,98,3,2.5,4.5,1,0.76
47,312,7.90,48,100,2,1.5,3.5,1,0.56
50,322,8.00,51,110,3,3.0,3.5,0,0.70
51,320,7.70,52,103,3,3.0,3.0,0,0.64
52,316,7.40,53,102,3,2.0,3.0,0,0.64
54,300,6.80,55,99,1,3.0,2.0,1,0.36
55,311,8.30,56,104,2,2.0,2.0,0,0.42
56,309,8.10,57,100,2,3.0,3.0,0,0.48
58,304,8.20,59,105,2,3.0,3.0,1,0.54
60,325,8.70,61,111,3,3.0,3.5,0,0.52
62,327,9.02,63,114,3,3.0,3.0,0,0.61
70,314,8.90,71,106,3,3.0,5.0,0,0.74
71,329,8.56,72,114,2,2.0,4.0,1,0.72
72,327,8.72,73,112,3,3.0,3.0,1,0.74
...,...,...,...,...,...,...,...,...,...
332,299,7.34,333,94,1,1.0,1.0,0,0.42
333,302,7.25,334,99,1,2.0,2.0,0,0.57
334,313,8.04,335,101,3,2.5,3.0,0,0.62
335,318,8.27,336,107,3,3.0,3.5,1,0.74
337,303,8.06,338,100,2,3.0,3.5,1,0.64
339,297,7.67,340,98,2,2.5,3.0,0,0.59
340,317,8.12,341,106,2,2.0,3.5,0,0.73
343,314,7.64,344,105,2,2.5,2.0,0,0.70
344,321,8.44,345,107,2,2.0,1.5,0,0.81
348,306,8.36,349,103,2,2.5,3.0,0,0.69
352,311,7.46,353,98,1,1.0,2.5,0,0.57
353,298,7.88,354,92,1,2.0,2.0,0,0.51
354,301,8.03,355,98,1,2.0,3.0,1,0.67
355,310,8.24,356,103,2,2.5,2.5,0,0.72
358,321,8.54,359,109,3,3.0,3.0,1,0.79
359,315,7.65,360,105,2,2.0,2.5,0,0.39
360,304,7.66,361,101,2,2.0,2.5,0,0.38
361,297,7.43,362,96,2,2.5,2.0,0,0.34
362,290,7.56,363,100,1,1.5,2.0,0,0.47
363,303,7.65,364,98,1,2.0,2.5,0,0.56
364,311,8.43,365,99,1,2.5,3.0,1,0.71
366,319,8.67,367,105,3,3.0,3.5,1,0.73
368,300,8.26,369,100,3,3.0,3.5,0,0.62
371,302,7.96,372,101,2,2.5,3.5,0,0.46
372,307,8.10,373,105,2,2.0,3.5,0,0.53
373,296,7.80,374,97,2,1.5,2.0,0,0.49
375,314,8.24,376,102,2,2.0,2.5,0,0.64
376,318,8.65,377,106,3,2.0,3.0,0,0.71
378,317,8.76,379,104,2,3.0,3.0,0,0.77
381,325,9.11,382,107,3,3.0,3.5,1,0.84

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [130]:
def standardize(col):
    # This function takes a column from a dataframe and returns a standardized column by subtracting the column's mean
    # and dividing by the column's standard deviation.
    col = admissions[col]
    return (col-np.mean(col))/np.std(col)

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [133]:
# Your code here:
admissions['GRE_std'] = standardize('GRE Score')
admissions['CGPA_std'] = standardize('CGPA')
admissions['LOR_std'] = standardize('LOR')

In [135]:
admissions.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,GRE_std,CGPA_std,LOR_std
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.755663,1.750174,1.193197
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.063450,-0.992501,0.076840
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.456297,0.121191,-1.039517
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.236698,-0.643433,-0.481338
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.149292,1.234884,-0.481338

We will generate the decision choice at random using the code below. Please run the cell.

In [136]:
# Run this code:

from random import choices
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [139]:
admissions['deciding_column'] = admissions.lookup(admissions.index, decision_choice)
admissions.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,GRE_std,CGPA_std,LOR_std,deciding_column
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.755663,1.750174,1.193197,1.750174
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.063450,-0.992501,0.076840,0.076840
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.456297,0.121191,-1.039517,0.456297
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.236698,-0.643433,-0.481338,-0.481338
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.149292,1.234884,-0.481338,1.234884

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [142]:
# Your code here:
admissions['decision'] = np.where(admissions['deciding_column'] > 0.8, [1], [0])
admissions.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,GRE_std,CGPA_std,LOR_std,deciding_column,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.755663,1.750174,1.193197,1.750174,1
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.063450,-0.992501,0.076840,0.076840,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.456297,0.121191,-1.039517,0.456297,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.236698,-0.643433,-0.481338,-0.481338,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.149292,1.234884,-0.481338,1.234884,1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [146]:
# Your code here:
sum_adm = admissions['decision'].sum()
f'The applicants accepted will be: {sum_adm}'

'The applicants accepted will be: 86'

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [147]:
# Your code here:
admissions.columns

Index(['GRE Score', 'CGPA', 'Serial No.', 'TOEFL Score', 'University Rating',
       'SOP', 'LOR', 'Research', 'Chance of Admit', 'GRE_std', 'CGPA_std',
       'LOR_std', 'deciding_column', 'decision'],
      dtype='object')

In [164]:
admissions.rename(columns={'GRE Score':'gre_score',
                            'CGPA':'cgpa',
                            'Serial No.':'serial_no.',
                            'TOEFL Score':'toefl_score',
                            'University Rating':'university_rating',
                            'SOP':'sop',
                            'LOR':'lor',
                            'Research': 'research',
                            'Chance of Admit':'chance_of_admit',
                            'GRE_std':'gre_std',
                            'CGPA_std':'cgpa_std',
                            'LOR_std':'lor_std'}
                             ,inplace=True)

In [165]:
admissions.columns

Index(['gre_score', 'cgpa', 'serial_no.', 'toefl_score', 'university_rating',
       'sop', 'lor', 'research', 'chance_of_admit', 'gre_std', 'cgpa_std',
       'lor_std', 'deciding_column', 'decision'],
      dtype='object')

In [168]:
admissions.head()

,gre_score,cgpa,serial_no.,toefl_score,university_rating,sop,lor,research,chance_of_admit,gre_std,cgpa_std,lor_std,deciding_column,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.755663,1.750174,1.193197,1.750174,1
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.063450,-0.992501,0.076840,0.076840,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.456297,0.121191,-1.039517,0.456297,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.236698,-0.643433,-0.481338,-0.481338,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.149292,1.234884,-0.481338,1.234884,1

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [172]:
# Your code here:
#adjusted_gre
admissions['adjusted_gre'] = np.where(admissions['university_rating'] > 4 , admissions['gre_score']+10 , admissions['gre_score'])
admissions.head()

,gre_score,cgpa,serial_no.,toefl_score,university_rating,sop,lor,research,chance_of_admit,gre_std,cgpa_std,lor_std,deciding_column,decision,adjusted_gre
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.755663,1.750174,1.193197,1.750174,1,337
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.063450,-0.992501,0.076840,0.076840,0,316
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.456297,0.121191,-1.039517,0.456297,0,322
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.236698,-0.643433,-0.481338,-0.481338,0,314
4,340,9.34,5,115,5,4.5,3.0,1,0.90,1.149292,1.234884,-0.481338,1.234884,1,350