# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset.

In [2]:
# Run this code:

admissions = pd.read_csv('../Admission_Predict.csv')
#to remove trailing spaces at the end of the column names
admissions.columns = admissions.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [3]:
# Your code here:

admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [4]:
# Your code here:

admissions.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [5]:
# Your code here:
admissions.index = admissions['Serial No.']
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [6]:
# Your code here:
admissions.set_index(admissions['GRE Score'].astype(str) + ' - ' + admissions['CGPA'].astype(str), inplace=True)

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [7]:
# Your code here:
admissions.set_index(['GRE Score','CGPA'], inplace=True)
admissions.head()

,,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,,
337,9.65,1,118,4,4.5,4.5,1,0.92
316,8.00,2,104,3,3.0,3.5,1,0.72
322,8.67,3,110,3,3.5,2.5,1,0.80
314,8.21,4,103,2,2.0,3.0,0,0.65
330,9.34,5,115,5,4.5,3.0,1,0.90

In [8]:
admissions.reset_index(inplace=True)

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [9]:
# Your code here:
admissions.query('CGPA > 9 & Research == 1').head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,1,118,4,4.5,4.5,1,0.92
4,330,9.34,5,115,5,4.5,3.0,1,0.90
10,328,9.10,11,112,4,4.0,4.5,1,0.78
19,328,9.50,20,116,5,5.0,5.0,1,0.94
20,334,9.70,21,119,5,5.0,4.5,1,0.95

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [10]:
# Your code here:
meant=admissions.query('CGPA > 9 & SOP >= 3.5').head()
meant['Chance of Admit'].mean()

0.898

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [11]:
def standardize(col):
    # This function takes a column from a dataframe and returns a standardized column by subtracting the column's mean
    # and dividing by the column's standard deviation.
    
    # Your code here:
    
    return (col - np.mean(col))/np.std(col)

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [12]:
# Your code here:
admissions['LOR_std'] = standardize(admissions['LOR'])

In [15]:
admissions['GRE_std'] = standardize(admissions['GRE Score'])

In [16]:
admissions['CGPA_std'] = standardize(admissions['CGPA'])

In [17]:
admissions

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,LOR_std,CGPA_std,GRE_std
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.193197,1.750174,1.755663
1,316,8.00,2,104,3,3.0,3.5,1,0.72,0.076840,-0.992501,-0.063450
2,322,8.67,3,110,3,3.5,2.5,1,0.80,-1.039517,0.121191,0.456297
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.481338,-0.643433,-0.236698
4,330,9.34,5,115,5,4.5,3.0,1,0.90,-0.481338,1.234884,1.149292
5,321,8.20,6,109,3,3.0,4.0,1,0.75,0.635019,-0.660055,0.369672
6,308,7.90,7,101,2,3.0,4.0,0,0.68,0.635019,-1.158723,-0.756445
7,302,8.00,8,102,1,2.0,1.5,0,0.50,-2.155874,-0.992501,-1.276191
8,323,8.60,9,108,3,3.5,3.0,0,0.45,-0.481338,0.004836,0.542921
9,327,9.00,10,111,4,4.0,4.5,1,0.84,1.193197,0.669726,0.889419
10,328,9.10,11,112,4,4.0,4.5,1,0.78,1.193197,0.835949,0.976043
11,307,8.00,12,109,3,4.0,3.0,1,0.62,-0.481338,-0.992501,-0.843069
12,311,8.20,13,104,3,3.5,2.0,1,0.61,-1.597696,-0.660055,-0.496571
13,314,8.30,14,105,3,3.5,2.5,0,0.54,-1.039517,-0.493833,-0.236698
14,317,8.70,15,107,3,4.0,3.0,0,0.66,-0.481338,0.171058,0.023175
15,319,8.00,16,106,3,4.0,3.0,1,0.65,-0.481338,-0.992501,0.196424
16,318,8.80,17,110,3,4.0,3.0,0,0.63,-0.481338,0.337281,0.109799
17,303,8.50,18,102,3,3.5,3.0,0,0.62,-0.481338,-0.161387,-1.189567
18,325,8.40,19,114,4,3.0,2.0,0,0.70,-1.597696,-0.327610,0.716170
19,328,9.50,20,116,5,5.0,5.0,1,0.94,1.751376,1.500840,0.976043
20,334,9.70,21,119,5,5.0,4.5,1,0.95,1.193197,1.833285,1.495789
21,336,9.80,22,119,5,4.0,3.5,1,0.97,0.076840,1.999508,1.669038
22,322,8.80,23,109,5,4.5,3.5,0,0.76,0.076840,0.337281,0.456297
23,298,7.50,24,98,2,1.5,2.5,1,0.44,-1.039517,-1.823614,-1.622689
24,295,7.20,25,93,1,2.0,2.0,0,0.46,-1.597696,-2.322282,-1.882562
25,310,7.30,26,99,2,1.5,2.0,0,0.54,-1.597696,-2.156060,-0.583196
26,300,8.10,27,97,2,3.0,3.0,1,0.65,-0.481338,-0.826278,-1.449440
27,327,8.30,28,103,3,4.0,4.0,1,0.74,0.635019,-0.493833,0.889419
28,338,9.40,29,118,4,3.0,4.5,1,0.91,1.193197,1.334617,1.842287
29,340,9.60,30,114,5,4.0,4.0,1,0.90,0.635019,1.667063,2.015536
...,...,...,...,...,...,...,...,...,...,...,...,...
355,310,8.24,356,103,2,2.5,2.5,0,0.72,-1.039517,-0.593566,-0.583196
356,324,9.22,357,110,3,3.5,3.0,1,0.89,-0.481338,1.035416,0.629546
357,336,9.62,358,119,4,4.5,4.0,1,0.95,0.635019,1.700307,1.669038
358,321,8.54,359,109,3,3.0,3.0,1,0.79,-0.481338,-0.094898,0.369672
359,315,7.65,360,105,2,2.0,2.5,0,0.39,-1.039517,-1.574280,-0.150074
360,304,7.66,361,101,2,2.0,2.5,0,0.38,-1.039517,-1.557658,-1.102942
361,297,7.43,362,96,2,2.5,2.0,0,0.34,-1.597696,-1.939970,-1.709313
362,290,7.56,363,100,1,1.5,2.0,0,0.47,-1.597696,-1.723881,-2.315684
363,303,7.65,364,98,1,2.0,2.5,0,0.56,-1.039517,-1.574280,-1.189567
364,311,8.43,365,99,1,2.5,3.0,1,0.71,-0.481338,-0.277743,-0.496571
365,322,8.84,366,104,3,3.5,4.0,1,0.78,0.635019,0.403770,0.456297
366,319,8.67,367,105,3,3.0,3.5,1,0.73,0.076840,0.121191,0.196424
367,324,9.15,368,110,4,4.5,4.0,1,0.82,0.635019,0.919061,0.629546
368,300,8.26,369,100,3,3.0,3.5,0,0.62,0.076840,-0.560322,-1.449440
369,340,9.74,370,113,4,5.0,5.0,1,0.96,1.751376,1.899775,2.015536
370,335,9.82,371,117,5,5.0,5.0,1,0.96,1.751376,2.032753,1.582414
371,302,7.96,372,101,2,2.5,3.5,0,0.46,0.076840,-1.058990,-1.276191
372,307,8.10,373,105,2,2.0,3.5,0,0.53,0.076840,-0.826278,-0.843069
373,296,7.80,374,97,2,1.5,2.0,0,0.49,-1.597696,-1.324946,-1.795937
374,320,8.44,375,108,3,3.5,4.0,1,0.76,0.635019,-0.261121,0.283048
375,314,8.24,376,102,2,2.0,2.5,0,0.64,-1.039517,-0.593566,-0.236698
376,318,8.65,377,106,3,2.0,3.0,0,0.71,-0.481338,0.087947,0.109799
377,326,9.12,378,112,4,4.0,3.5,1,0.84,0.076840,0.869194,0.802794
378,317,8.76,379,104,2,3.0,3.0,0,0.77,-0.481338,0.270792,0.023175
379,329,9.23,380,111,4,4.5,4.0,1,0.89,0.635019,1.052039,1.062667
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.076840,0.736216,0.629546
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.076840,0.852571,0.716170
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.193197,1.417729,1.149292
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.635019,0.304036,-0.409947
384,333,9.66,385,117,4,5.0,4.0,1,0.95,0.635019,1.766796,1.409165

We will generate the decision choice at random using the code below. Please run the cell.

In [18]:
# Run this code:

from random import choices
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [19]:
# Your code here:
admissions['deciding_column'] = admissions.lookup(admissions.index, decision_choice)

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [21]:
# Your code here:
admissions['decision'] = np.where(admissions['deciding_column'] > 0.8, 1, 0)

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [22]:
# Your code here:
admissions.decision.sum()

89

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [ ]:
# Your code here:

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [ ]:
# Your code here: